<template>
  <h1>Кошик</h1>
  <div v-for="(p, index) in products" :key="index">
    <h1>{{ index + 1 }}. {{ p.item }}</h1>
    <p>Ціна: {{ p.price }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
    };
  },
  mounted() {
    this.products = this.$store.getters.getCart;
  },
};
</script>

<style scoped>
h1 {
  color: #333;
  font-family: Arial, sans-serif;
}

div {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

p {
  color: #666;
  font-size: 14px;
}
</style>
