<template>
  <div class="products">
    <form class="searchbar">
      <input placeholder="Пошук" v-model="search" />
      <input type="submit" class="btn" />
    </form>
    <div class="product" v-for="item in filteredItems" v-bind:key="item.id">
      <div class="product-image">
        <img v-bind:src="item.src" />
      </div>
      <div>
        <h4 class="product-title">
          <router-link v-bind:to="'/product/' + item.id">
            {{ item.item }}
          </router-link>
        </h4>
        <label>{{ item.price }}</label>
        <button class="btn" @click="addToCart(item)">Додати до кошика</button>
      </div>
    </div>
  </div>
</template>
<script>
import products from "../data/products.js";

export default {
  data: function () {
    return {
      items: [],
      search: "",
      searchResult: [],
    };
  },
  mounted: function () {
    this.items = products;
  },
  computed: {
    filteredItems: function () {
      console.log(this);
      if (!this.search) {
        return this.items;
      }
      return this.items.filter((element) => {
        return element.item.toUpperCase().includes(this.search.toUpperCase());
      });
    },
  },
  methods: {
    addToCart(item) {
      this.$store.commit("addProduct", item);
    },
  },
};
</script>
<style scoped>
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  margin-bottom: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-title {
  margin: 10px 0;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
</style>
