<template>
  <div>
    <h2 v-if="product">
      Це страниця товару #{{ product.id }}: {{ product.item }}
    </h2>
    <h2 v-else>Товар не знайдено</h2>
    <div>
      <button @click="addToCart(product)" class="btn">Додати до кошика</button>
    </div>
  </div>
</template>
<script>
import products from "../data/products.js";

export default {
  data: function () {
    return {
      product: null,
    };
  },
  mounted: function () {
    this.product = products.find((item) => {
      return item.id === Number(this.$route.params.id);
    });
  },
  methods: {
    addToCart(item) {
      this.$store.commit("addProduct", item);
    },
  },
};
</script>
